$primary: #25243a;
$primary-lighter: #302f4a;
$secondary: #fff;
$tertiary: #0666f6;
$quaternary: #ed7171;
$light: #e6f0ff;

$text-primary: $secondary;
$text-secondary: #4d5163;
$text-tertiary: $tertiary;
