@use '/node_modules/reset-css/sass/reset';
@use '../sass/abstracts' as a;
@use '../sass/components';
@use '../sass/layout';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  color: a.$c-text-primary;
  font-family: a.$t-primary, a.$t-fallback;
  background-color: a.$c-primary;
}
