@use '/node_modules/reset-css/sass/reset';
@use '../sass/abstracts/colors' as c;
@use '../sass/abstracts/typography' as t;
@use '../sass/components';
@use '../sass/layout';

* {
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: t.$primary, t.$fallback;
  background-color: c.$primary;
}
