@use '../abstracts' as a;

.blockquote {
  &__cite {
    margin: 2em 0;
    color: a.$c-text-secondary-lighter;
    font-size: 1.6rem;
    line-height: 2;

    &--strong {
      color: a.$c-text-secondary;
      font-weight: bold;
      font-size: 2.4rem;
      line-height: 1.3;
    }
  }
}
