@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as m;
@use '../abstracts/typography' as t;

.button {
  width: 155px;
  height: 50px;
  padding: 0 1em;
  color: c.$text-primary;
  font-size: 1.4rem;
  font-family: t.$secondary;
  text-transform: uppercase;
  background-color: c.$tertiary;
  border-style: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: darken($color: c.$tertiary, $amount: 5%);
  }
}
