@use '../abstracts' as a;

.data-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5em 0;

  &__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 270px;
  }

  &__description {
    color: a.$c-text-secondary-lighter;
    font-size: 1.6rem;
  }

  &__title {
    margin: 0.5em 0;
    font-weight: bold;
    font-size: 2.4rem;
    text-transform: capitalize;
  }

  &__value {
    font-size: 5.6rem;
    font-family: a.$t-secondary;
  }
}
