@use '../abstracts' as a;

.questions {
  &__question {
    margin-top: -1em !important;
    border-style: none;
  }

  &__answer,
  &__summary {
    color: a.$c-text-secondary !important;
    font-family: a.$t-primary !important;
  }

  &__answer {
    margin-bottom: 1em !important;
    padding: 2em !important;
    font-size: 1.6rem !important;
    line-height: 2 !important;
    background-color: a.$c-light;
    border-radius: 24px;

    @include a.m-media(sm) {
      width: 98%;
      margin: 0 auto 2em !important;
      padding: 2em 1em !important;
      text-align: justify;
    }
  }

  &__summary {
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.75em !important;
    font-weight: bold;
    font-size: 2.4rem !important;
    text-transform: capitalize;

    &::after {
      position: static !important;
      top: auto !important;
      right: auto !important;
      width: auto !important;
      margin-left: 12px;
      transform: translate(0, 0) !important;
      content: url('/public/svg/strzalka.svg') !important;
    }

    &:focus {
      color: inherit !important;
    }
  }
}
