@use '../abstracts' as a;

:root {
  --swiper-navigation-color: a.$c-text-primary;
  --swiper-navigation-size: 1.6rem !important;
}

.swiper-slide {
  padding: 0 10%;
}

.swiper-button {
  &-next,
  &-prev {
    width: 48px !important;
    height: 48px !important;
    font-weight: bold;
    border: 1px solid a.$c-text-primary-lighter;
    border-radius: 50%;
    transition: background-color 0.2s ease;

    &::after {
      transition: color 0.2s ease;
    }

    &:hover {
      background-color: a.$c-text-primary;

      &::after {
        color: a.$c-text-secondary;
      }
    }
  }
}
