@use '../abstracts' as a;

:root {
  --swiper-navigation-color: a.$c-text-primary;
  --swiper-navigation-size: 1.6rem !important;
}

.swiper-slide {
  padding: 0 10%;

  @include a.m-media(sm) {
    padding: 0 3vw;
  }
}

.swiper-button {
  &-next,
  &-prev {
    width: 48px !important;
    height: 48px !important;
    font-weight: bold;
    border: 1px solid a.$c-text-primary-lighter;
    border-radius: 50%;
    transition: background-color 0.2s ease;

    @include a.m-media(sm) {
      width: 30px !important;
      height: 30px !important;
    }

    &::after {
      transition: color 0.2s ease;

      @include a.m-media(sm) {
        font-size: 1rem;
      }
    }

    &:hover {
      background-color: a.$c-text-primary;

      &::after {
        color: a.$c-text-secondary;
      }
    }
  }
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  z-index: 1;
}
