@use '../abstracts' as a;

.about {
  min-height: 100vh;

  &__button {
    @include a.m-media(sm) {
      width: 100%;
      margin-top: 2em;
    }
  }

  &__description {
    margin-bottom: 2.5em;

    @include a.m-media(sm) {
      margin-bottom: 0;
    }
  }

  &__image {
    width: 80%;
    max-width: 314px;
    max-height: 328px;

    &--employee {
      z-index: 1;
      width: 27%;
      max-width: 140px;
      transform: translate(82%, 66%);
    }

    &--note {
      z-index: 3;
      width: 46%;
      max-width: 249px;
      transform: translate(-123%, -179%);
    }

    &--ship-img {
      z-index: 2;
      width: 60%;
      transform: translate(-50%, -50%);
    }

    &--ship {
      z-index: 1;
      width: 31%;
      max-width: 166px;
      transform: translate(37%, -154%);
    }

    &--track-one {
      z-index: 1;
      max-width: 403px;
      transform: translate(-77%, -4%);
    }
  }

  &__more {
    margin-bottom: 6em;

    &-link {
      display: inline-block;
      margin-left: 0.5em;
      padding: 0 0 0.3em;
      color: a.$c-text-secondary;

      &::after {
        width: 100%;
      }
    }
  }

  &__numbers {
    width: 100%;
    margin-bottom: 10em;

    @include a.m-media(sm) {
      margin: 5em 0 0;
    }

    &-data {
      @include a.m-media(sm) {
        flex-wrap: wrap;
      }
    }

    &-data-wrapper {
      @include a.m-media(sm) {
        width: 100%;
      }
    }

    &-description {
      font-size: 1.4rem;
    }
  }

  &__steps {
    width: 100%;
    margin: 8em 0 2em;

    @include a.m-media(sm) {
      margin-top: 0;
    }

    &-description {
      line-height: 2;
    }

    &-list {
      justify-content: space-between;
      margin-top: 7em;

      @include a.m-media(sm) {
        flex-wrap: wrap;
      }
    }

    &-title {
      margin: 1em 0;
    }

    &-value {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.5em;
      max-width: 110px;
      height: 1.5em;
      max-height: 110px;
      color: #fff;
      font-size: 7.2rem;
      background-color: a.$c-quaternary;
      border-radius: 50%;
      transition: transform 0.3s ease;
      user-select: none;

      &:hover {
        transform: translateY(-10%);
      }
    }

    &-wrapper {
      align-items: flex-start;

      @include a.m-media(lg) {
        max-width: 170px;
      }

      @include a.m-media(sm) {
        align-items: center;
        max-width: none;
      }
    }
  }

  &__subtitle {
    max-width: 650px;
    margin: 0 auto;
    font-size: 4rem;
    font-family: a.$t-secondary;
    text-align: center;
  }

  &__text-container {
    width: 41%;
    max-width: 600px;

    @include a.m-media(sm) {
      width: 100%;
      max-width: none;
    }
  }

  &__title {
    max-width: 400px;

    @include a.m-media(sm) {
      max-width: none;
    }
  }

  &__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
