@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as m;
@use '../abstracts/typography' as t;

.about {
  min-height: 100vh;

  &__cover-content {
    margin: 15em 0;
  }

  &__description {
    margin-bottom: 2.5em;
  }

  &__image {
    &--employee {
      z-index: 1;
      transform: translate(82%, 66%);
    }

    &--note {
      z-index: 3;
      transform: translate(-123%, -179%);
    }

    &--ship-img {
      z-index: 2;
      transform: translate(-50%, -50%);
    }

    &--ship {
      z-index: 1;
      transform: translate(37%, -154%);
    }

    &--track-one {
      z-index: 1;
      transform: translate(-77%, -4%);
    }
  }

  &__more {
    margin-bottom: 6em;

    &-link {
      margin-left: 0.5em;
    }
  }

  &__numbers {
    width: 100%;
    margin: 10em 0;

    &-description {
      font-size: 1.4rem;
    }
  }

  &__steps {
    width: 100%;
    margin: 8em 0 2em;

    &-description {
      line-height: 2;
    }

    &-list {
      justify-content: space-between;
      margin-top: 7em;
    }

    &-title {
      margin: 1em 0;
    }

    &-value {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 110px;
      height: 110px;
      color: #fff;
      font-size: 7.2rem;
      background-color: c.$quaternary;
      border-radius: 50%;
    }

    &-wrapper {
      align-items: flex-start;
    }
  }

  &__subtitle {
    max-width: 650px;
    margin: 0 auto;
    font-size: 4rem;
    font-family: t.$secondary;
    text-align: center;
  }

  &__text-container {
    max-width: 600px;
  }

  &__title {
    max-width: 400px;
  }

  &__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
