@use '../abstracts' as a;

.contact {
  &__address {
    &-element {
      margin-top: 2em;
    }

    &-element-image-path {
      transition: fill 0.2s ease, stroke 0.2s ease;
    }

    &-element-text {
      margin-left: 25px;
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 2rem;

      @at-root &:hover .contact__address-element-image-path {
        fill: a.$c-tertiary;
        stroke: a.$c-tertiary;
      }
    }
  }

  &__description {
    color: a.$c-text-primary;
    font-size: 2rem;

    @include a.m-media(lg) {
      max-width: 420px;
    }

    @include a.m-media(sm) {
      max-width: none;
    }
  }

  &__image {
    &--map {
      width: 42vw;
      max-width: 570px;
      transform: translate(-50%, -50%);

      @include a.m-media(lg) {
        max-width: 500px;
      }
    }

    &--marker {
      transform: translate(-50%, -100%);
      animation: float 1s ease-in-out infinite both;
    }
  }

  &__picture-container {
    &::before {
      content: none;
    }
  }
}

@keyframes float {
  0%,
  100% {
    transform: translate(-50%, -100%);
  }

  50% {
    transform: translate(-50%, -110%);
  }
}
