@use '../abstracts' as a;

.footer {
  width: 80vw;
  margin: 0 auto;
  margin-top: 10em;
  font-size: 1.6rem;

  @include a.m-media(sm) {
    padding-bottom: 4em;
  }

  @include a.m-media(sm) {
    width: 94vw;
  }

  &__copyright {
    color: a.$c-headline-primary-lighter;

    @include a.m-media(sm) {
      width: 100%;
      text-align: center;
    }

    &-container {
      align-items: center;
    }
  }

  &__headline {
    margin-bottom: 1.5em;
  }

  &__hr {
    margin: 4em 0 3em;
    border: 1px solid a.$c-primary-lighter;
  }

  &__logo {
    @include a.m-media(sm) {
      margin-bottom: 2em;
    }
  }

  &__policy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;

    @include a.m-media(sm) {
      margin-top: 2em;
    }

    @include a.m-media(sm) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__sitemap {
    @include a.m-media(sm) {
      margin-bottom: 3em;
    }
  }

  &__sitemap-link {
    display: block;
    padding-top: 0.65em;
    padding-right: 0;
    padding-left: 0;

    &::after {
      width: 100%;
    }
  }

  &__social-media {
    display: flex;
    justify-content: center;
  }

  &__social-media-item {
    margin-right: 10px;
  }

  &__social-media-image-path {
    transition: fill 0.2s ease;
  }

  &__social-media-link {
    @at-root &:hover .footer__social-media-image-path {
      fill: darken(a.$c-tertiary, 5%);
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include a.m-media(sm) {
      flex-direction: column;
      align-items: center;
    }
  }
}
