@use '../abstracts' as a;

$height: 90px;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $height;
  padding: 2em;

  @include a.m-media(sm) {
    display: none;
  }
}

.navigation {
  width: 33%;

  &__list {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
  }
}
