@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as m;
@use '../abstracts/typography' as t;

$height: 90px;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $height;
  padding: 2em;

  &__logo {
    @include m.hover-effect;
  }

  &__button {
    background-color: transparent;
    border: 1px solid adjust-color($color: c.$text-primary, $alpha: -0.7);
    transition: background-color 0.2s ease, border-color 0.2s ease;

    &:hover {
      background-color: c.$quaternary;
      border-color: c.$quaternary;
    }
  }
}

.navigation {
  width: 33%;

  &__list {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
  }

  &__link {
    position: relative;
    display: block;
    padding: 0.8em 1em;
    color: c.$text-primary;
    font-size: 1.6rem;

    &::after {
      position: absolute;
      top: 80%;
      left: 50%;
      display: block;
      width: calc(100% - 2em);
      height: 3px;
      background-color: c.$tertiary;
      border-radius: 10px;
      transform: translateX(-50%) rotateY(90deg);
      transform-origin: 0% 50%;
      transition: transform 0.3s ease;
      content: '';
    }

    &:hover {
      &::after {
        transform: translateX(-50%) rotateY(0deg);
      }
    }
  }
}
