@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as m;
@use '../abstracts/typography' as t;
@use './header';

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - #{header.$height});
  min-height: auto;
  color: c.$text-primary;

  &__description,
  &__headline {
    color: adjust-color($color:c.$text-primary, $alpha: -0.5);
  }

  &__title {
    font-size: 7.2rem;
  }

  &__image {
    &--letters {
      z-index: 1;
      transform: translate(-125%, 57%);
    }

    &--package {
      z-index: 3;
      transform: translate(50%, -156%);
    }

    &--track-one {
      transform: translate(54%, 26%);
    }

    &--vehicle {
      z-index: 1;
      transform: translate(-162%, -135%);
    }

    &--vehicle-img {
      z-index: 2;
      width: 70%;
      max-width: 315px;
      transform: translate(-50%, -50%);
    }
  }
}
