@use '../abstracts' as a;
@use './header';

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - #{header.$height});
  min-height: auto;
  color: a.$c-text-primary;

  @include a.m-media(sm) {
    height: 100vh;
  }

  &__button {
    @include a.m-media(sm) {
      width: 100%;
    }
  }

  &__description,
  &__headline {
    color: a.$c-headline-primary-lighter;
  }

  &__image {
    width: 40%;
    max-width: 314px;
    max-height: 250px;

    &--letters {
      z-index: 1;
      width: 48%;
      max-width: 249px;
      transform: translate(-125%, 57%);
    }

    &--package {
      z-index: 3;
      width: 34%;
      max-width: 177px;
      transform: translate(50%, -156%);
    }

    &--track-one {
      width: 41%;
      max-width: 212px;
      transform: translate(54%, 26%);
    }

    &--vehicle {
      z-index: 1;
      width: 32%;
      max-width: 166px;
      transform: translate(-162%, -135%);
    }

    &--vehicle-img {
      z-index: 2;
      width: 61%;
      max-width: 315px;
      transform: translate(-50%, -50%);
    }
  }

  &__swiper-button {
    &-next,
    &-prev {
      top: 35% !important;
    }

    &-next {
      right: 3% !important;
    }

    &-prev {
      left: 3% !important;
    }
  }

  &__title {
    font-size: 7.2rem;

    @include a.m-media(sm) {
      font-size: 5rem;
    }
  }
}
