@use '../abstracts' as a;

$box-shadow-width: 9px;
$multiplier: 0.9;

.our-team {
  &__figure {
    width: 60%;
    max-width: 900px;
    margin-left: 6vw;
  }

  &__figcaption {
    font-size: 2rem;
    line-height: 1.5;

    &-profession {
      display: block;
      width: fit-content;
      margin: 0.5em 0 1em;
      color: a.$c-text-secondary-lighter;
      font-size: 1.6rem;
    }
  }

  &__cover-content {
    align-items: flex-start;
    justify-content: flex-end;
    height: auto;
  }

  &__description {
    max-width: 600px;
  }

  &__image,
  &__picture-container {
    max-width: 420px;
    max-height: 400px;
  }

  &__image {
    position: static;
    top: auto;
    left: auto;
    width: 100%;
    border-radius: 24px;
    box-shadow:
      ($box-shadow-width * 1) 0 0 a.$c-tertiary,
      ($box-shadow-width * 2) 0 0 adjust-color($color: a.$c-tertiary, $alpha: -0.55),
      ($box-shadow-width * 3) 0 0 adjust-color($color: a.$c-tertiary, $alpha: -0.7),
      ($box-shadow-width * 4) 0 0 adjust-color($color: a.$c-tertiary, $alpha: -0.75);
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow:
        (($box-shadow-width * 1) * $multiplier) 0 0 a.$c-tertiary,
        (($box-shadow-width * 2) * $multiplier) 0 0 adjust-color($color: a.$c-tertiary, $alpha: -0.55),
        (($box-shadow-width * 3) * $multiplier) 0 0 adjust-color($color: a.$c-tertiary, $alpha: -0.7),
        (($box-shadow-width * 4) * $multiplier) 0 0 adjust-color($color: a.$c-tertiary, $alpha: -0.75);
    }
  }

  &__picture-container {
    width: 45%;

    &::before {
      content: none;
    }
  }

  &__swiper-button {
    &-next {
      transform: translateX(120%);
    }

    &-next,
    &-prev {
      top: auto;
      bottom: 2.5em;
      left: calc(420px + 6vw + 10vw);
      border: solid 1px adjust-color($color: a.$c-tertiary, $alpha: -0.7);

      &:hover {
        background-color: a.$c-tertiary;
      }

      &::after {
        color: a.$c-tertiary;
      }

      &:hover::after {
        color: a.$c-text-primary;
      }
    }
  }

  &__swiper-wrapper {
    display: flex;
    height: 100%;
    max-height: 100%;
  }

  &__swiper-slide {
    display: block;
    flex-shrink: 0;
    width: auto;
    height: 100%;
    max-height: 100%;
    padding: 0 10vw;
  }

  &__text-container {
    max-width: 800px;
  }

  &__title.title {
    margin-bottom: 0;
  }

  &__wrapper {
    flex-direction: column;
    padding: 8em 0 6em;
  }
}
