@use '../abstracts' as a;

$border-radius: 32px;

.pricing {
  &__description,
  &__title {
    color: a.$c-text-primary;
  }

  &__description {
    font-size: 2rem;
  }

  &__image {
    &--track-one {
      width: 100%;
      max-width: 521px;
      transform: translate(-54%, -52%);
    }
  }

  &__panel {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 93%;
    min-width: 350px;
    max-width: 500px;
    max-height: 385px;
    padding: 4em 0;
    color: a.$c-text-secondary;
    background-color: a.$c-secondary;
    border-radius: $border-radius;
    transform: translate(-50%, -50%);

    &-description {
      margin-top: 1em;
      font-size: 2rem;
    }

    &-list {
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      width: 97%;
      height: 58%;
      margin: 2.75em 0;
      padding-top: 4em;
      background-color: a.$c-light;
      border-radius: $border-radius * 0.5;

      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: 33%;
        height: 100%;
        margin-bottom: 2em;
        cursor: pointer;
      }

      &-item:hover svg {
        transform: translateY(-10%);
      }
    }

    &-image {
      transition: transform 0.3s ease;
    }

    &-image--big {
      path {
        fill: a.$c-quaternary;
      }
    }

    &-image--medium {
      path {
        fill: a.$c-text-secondary;
      }
    }

    &-title {
      align-self: flex-start;
      margin-left: 10%;
      font-weight: bold;
      font-size: 2.4rem;
    }
  }

  &__picture-container {
    &::before {
      width: 19vw;
      max-width: 250px;
      height: 19vw;
      max-height: 250px;
      transform: translate(-115%, -101%);
    }

    &::after {
      width: 26vw;
      max-width: 350px;
      height: 26vw;
      max-height: 350px;
      transform: translate(-13%, -17%);
      content: '';
    }
  }
}
