@use '../abstracts' as a;

$wrapper-width: 81%;

.section {
  min-height: 100vh;
  overflow: hidden;

  @include a.m-media(sm) {
    text-align: center;
  }

  &--light {
    color: a.$c-text-secondary;
    background-color: a.$c-secondary;

    .description {
      color: a.$c-text-secondary-lighter;
    }

    .headline {
      color: a.$c-text-tertiary;
    }

    .picture-container {
      &::before {
        background-color: a.$c-light;
      }
    }
  }

  &__cover-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;

    &--inverted {
      flex-direction: row-reverse;
    }
  }

  &__description,
  &__headline {
    color: a.$c-headline-primary-lighter;
    font-size: 1.6rem;
  }

  &__description {
    margin-bottom: 2em;
    line-height: 2;

    @include a.m-media(sm) {
      text-align: justify;
    }
  }

  &__headline {
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__picture-container {
    @include a.m-media(sm) {
      display: none;
    }

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: a.$v-img-container-width;
      max-width: 500px;
      height: a.$v-img-container-width;
      max-height: 500px;
      background-color: a.$c-primary-lighter;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      content: '';
    }
  }

  &__predescription {
    margin-bottom: 1em;
    font-size: 2rem;
    line-height: 1.6;

    @include a.m-media(sm) {
      text-align: justify;
    }
  }

  &__text-container {
    width: 50%;
    max-width: 485px;

    @include a.m-media(sm) {
      width: 100%;
      max-width: none;
    }

    &--centered {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      text-align: center;

      .title {
        margin-right: auto;
        margin-bottom: 0.25em;
        margin-left: auto;
      }
    }
  }

  &__title {
    margin: 0.5em 0;
    font-size: 5.6rem;
    font-family: a.$t-secondary;
    line-height: 1.1;
    letter-spacing: -2px;
    text-transform: capitalize;

    @include a.m-media(sm) {
      max-width: none;
      font-size: 4.6rem;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $wrapper-width;
    margin: 0 auto;

    @include a.m-media(sm) {
      width: 95%;
    }
  }
}
